:root {
  /* -----Colours---- */
  --base-text: hsla(213, 11%, 31%, 1);
  /* Accent */
  --base-primary-accent: hsla(223, 22%, 45%, 1);
  /* Action */
  --base-primary-action: hsla(300, 32%, 66%, 1);
  --base-primary-action-hover: hsla(337, 57%, 72%, 1);
  /* Link */
  --base-primary-link: hsla(204, 83%, 81%, 1);
  --base-primary-link-hover: hsla(351, 89%, 87%, 1);
  /* Neutrals */
  --base-neutral-dark: hsla(0, 1%, 48%, 1);
  --base-neutral-light: hsla(213, 8%, 67%, 1);

  /* -----Font Sizing----- */
  --font-base: 1rem; /* base font size - applied at body / html level */
  --font-h1: 3rem;
  --font-h2: 2rem;
  --font-h3: 1.75rem;
  --font-h4: 1.5rem;
  --font-h5: 1.25;
  --font-h6: 1.125rem;
  --font-small: 0.875rem;

  /* ----Spacing----- */

}


h3 {
  font-size: var(--font-h3);
}

* {
  box-sizing: border-box;
}

body {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: var(--font-base);
  padding: 6rem 2rem;
}

/* Typography */

:is(h1, h2, h3, h4, h5, h6) {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.bg {
  background-color: #e4e4e4;
}

img {
  height: auto;
  max-width: 100%;
}

main {
  margin: auto;
  max-width: 1400px;
}

section + section {
  margin-top: 8rem;
}

.grid {
  display: grid;
}

.block {
  display: block;
}

.is-hidden {
  display: none;
}

input {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 10px;
}

/* :is and :where list */

:is(ol[class]) {
  list-style-type: none;
}

.second-list {
  list-style-type: decimal;
}

:is(.test) p {
  color: blue;
}

header p {
  color: green;
}

/* Simple div with text */

.example-one:has(p) {
  border: 1px solid black;
  padding: 2rem;
}

.example-one:has(p) h1 {
  color: blue;
}

/* Button */

.button {
  display: inline-block;
  border: 0;
  padding: 0.5rem;
  background-color: #8865a7;
  color: #fff;
  min-width: 140px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
}

svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.button .button-icon {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  margin-right: 0.5rem;
}

.button:has(.button-icon) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


/* Cards */

.card-grid {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.card-link {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 1rem;
}

.card-image {
  border-radius: 8px;
}

.card-grid .card-link:has(.card-image) {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-grid .card-link:not(:has(.card-image)) {
  border-top: 4px solid rebeccapurple;
}


/* grid column number */

.wrapper {
  --item-size: 300px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--item-size), 1fr));
  gap: 1rem;
}

.wrapper:has(.card-link:nth-last-child(n + 5)) {
  --item-size: 200px;
}


/* Captions and type */

.fig-wrapper {
  margin: auto;
  max-width: 70ch;
  line-height: 1.7;
}

.fig-wrapper h1 {
  font-size: 2rem;
}

figure:has(figcaption) {
  background-color: white;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);
  padding: 1rem;
}

.fig-wrapper :is(h1, h2, h3, p) {
  margin-top: 0;
}

.fig-wrapper :is(h1, h2, h3):has(+ p) {
  margin-bottom: 0;
}

/* Forms */

form:has(option[value="Other"]:checked) .is-hidden {
  display: block;
}

label:has(+ input:valid),
label:has(+ input:valid)::after {
  color: green;
  content: "✓ ";
}

/* Container query */
.container-query {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.card-container {
  container-type: inline-size;
}

@container (min-width: 400px) {
  .card-link {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

@container (min-width: 700px) {
  .card-link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
  }

  .card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-text {
    position: relative;
    z-index: 1;
  }
}