:root {
  /* -----Font family---- */

  --base-font-family: 'Avenir', Arial, Helvetica, sans-serif;
  --alt-font-family: Georgia, 'Times New Roman', Times, serif;

  /* -----Colours---- */
  --base-text: hsla(213, 11%, 31%, 1);
  /* Accent */
  --base-primary-accent: hsla(223, 22%, 45%, 1);
  /* Action */
  --base-primary-action: hsla(300, 32%, 66%, 1);
  --base-primary-action-hover: hsla(337, 57%, 72%, 1);
  /* Link */
  --base-primary-link: hsla(204, 83%, 81%, 1);
  --base-primary-link-hover: hsla(351, 89%, 87%, 1);
  /* Neutrals */
  --base-neutral-dark: hsla(0, 1%, 48%, 1);
  --base-neutral-light: hsla(213, 8%, 67%, 1);

  --border-color: var(--base-neutral-dark);

  /* -----Font Sizing----- */
  --font-base: 1rem; /* base font size - applied at body / html level */
  --font-h1: 3rem;
  --font-h2: 2rem;
  --font-h3: 1.75rem;
  --font-h4: 1.5rem;
  --font-h5: 1.25;
  --font-h6: 1.125rem;
  --font-small: 0.875rem;

  /* ----Spacing----- */

  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 4rem;
}


h3 {
  font-size: var(--font-h3);
}

* {
  box-sizing: border-box;
}

body {
  font-family: Avenir, Arial, Helvetica, sans-serif;
}

/* Typography */



/* Some layout things */

.bg {
  background-color: #e4e4e4;
}

img {
  height: auto;
  max-width: 100%;
}

main {
  margin: auto;
  max-width: 1400px;
}

section + section {
  margin-top: 8rem;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.is-hidden {
  display: none;
}

input {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 5px 10px;
}